In [25]:
import pandas as pd
from sqlalchemy import create_engine
import csv
import os.path
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory

In [26]:
csv_file=f"{cwd}/Resources/ACSST1Y2016.S1501_data_with_overlays_2019-10-30T152810.csv"
ACS_education_data = pd.read_csv(csv_file)
ACS_education_data.head()

# Share with student loan debt (%)
# Median student loan debt ($)
# Share student loan holders with student loan debt in collections (%)
# Median student loan debt in collections ($)
# Median monthly student loan payment ($)
# Share people with a credit record who have student loan debt in collections (%)
# Nonwhite population share (%)
# Share without a bachelor's degree (%)
# Average household income ($)


ACS_education_data = ACS_education_data.drop([0])
ACS_education_data.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
1,0500000US01003,"Baldwin County, Alabama",15621,1652,3250,1219,3999,1248,7174,1721,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US01015,"Calhoun County, Alabama",11440,736,1398,601,4053,925,4918,1028,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US01043,"Cullman County, Alabama",7002,420,1852,542,2341,578,2579,552,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US01049,"DeKalb County, Alabama",5564,706,718,512,2227,833,2595,618,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
5,0500000US01051,"Elmore County, Alabama",6948,952,965,423,3203,1190,2462,826,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [28]:
df = ACS_education_data

df['county'] = df['NAME'].apply(lambda x: x.split(', ')[0])
df['state'] = df['NAME'].apply(lambda x: x.split(', ')[1])

df.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M,county,state
1,0500000US01003,"Baldwin County, Alabama",15621,1652,3250,1219,3999,1248,7174,1721,...,(X),(X),(X),(X),(X),(X),(X),(X),Baldwin County,Alabama
2,0500000US01015,"Calhoun County, Alabama",11440,736,1398,601,4053,925,4918,1028,...,(X),(X),(X),(X),(X),(X),(X),(X),Calhoun County,Alabama
3,0500000US01043,"Cullman County, Alabama",7002,420,1852,542,2341,578,2579,552,...,(X),(X),(X),(X),(X),(X),(X),(X),Cullman County,Alabama
4,0500000US01049,"DeKalb County, Alabama",5564,706,718,512,2227,833,2595,618,...,(X),(X),(X),(X),(X),(X),(X),(X),DeKalb County,Alabama
5,0500000US01051,"Elmore County, Alabama",6948,952,965,423,3203,1190,2462,826,...,(X),(X),(X),(X),(X),(X),(X),(X),Elmore County,Alabama

In [30]:
ACS_education_df = ACS_education_data[['GEO_ID', 'county','state', 'S1501_C01_001E', 'S1501_C01_004E', 'S1501_C01_005E',
                                     'S1501_C01_006E', 'S1501_C01_010E', 'S1501_C01_011E', 'S1501_C01_012E',
                                     'S1501_C01_013E','S1501_C02_001E', 'S1501_C02_004E', 'S1501_C02_005E',
                                     'S1501_C02_006E', 'S1501_C02_010E', 'S1501_C02_011E', 'S1501_C02_012E',
                                     'S1501_C02_013E']].copy()

ACS_education_df = ACS_education_df.rename(columns={'GEO_ID': 'GEO_ID'
                                                    , 'county': 'County'
                                                    , 'state': 'State'
                                                    , 'S1501_C01_001E': 'Pop_est_18-24' 
                                                    , 'S1501_C01_004E': 'Pop_est_18-24_some_college'
                                                    , 'S1501_C01_005E': 'Pop_est_18-24_Bachelor_degree'
                                                    , 'S1501_C01_006E': 'Pop_est_25+'
                                                    , 'S1501_C01_010E': 'Pop_est_25+_some_college'
                                                    , 'S1501_C01_011E': 'Pop_est_25+_Assoc_degree'
                                                    , 'S1501_C01_012E': 'Pop_est_25+_Bachelor_degree'
                                                    , 'S1501_C01_013E': 'Pop_est_25+_Graduate_degree'
                                                    , 'S1501_C02_001E': 'Pct_est_18-24' 
                                                    , 'S1501_C02_004E': 'Pct_est_18-24_some_college'
                                                    , 'S1501_C02_005E': 'Pct_est_18-24_Bachelor_degree'
                                                    , 'S1501_C02_006E': 'Pct_est_25+'
                                                    , 'S1501_C02_010E': 'Pct_est_25+_some_college'
                                                    , 'S1501_C02_011E': 'Pct_est_25+_Assoc_degree'
                                                    , 'S1501_C02_012E': 'Pct_est_25+_Bachelor_degree'
                                                    , 'S1501_C02_013E': 'Pct_est_25+_Graduate_degree'})
                                                     

ACS_education_df.head()

,GEO_ID,County,State,Pop_est_18-24,Pop_est_18-24_some_college,Pop_est_18-24_Bachelor_degree,Pop_est_25+,Pop_est_25+_some_college,Pop_est_25+_Assoc_degree,Pop_est_25+_Bachelor_degree,Pop_est_25+_Graduate_degree,Pct_est_18-24,Pct_est_18-24_some_college,Pct_est_18-24_Bachelor_degree,Pct_est_25+,Pct_est_25+_some_college,Pct_est_25+_Assoc_degree,Pct_est_25+_Bachelor_degree,Pct_est_25+_Graduate_degree
1,0500000US01003,Baldwin County,Alabama,15621,7174,1198,146987,31210,15580,25524,18023,(X),45.9,7.7,(X),21.2,10.6,17.4,12.3
2,0500000US01015,Calhoun County,Alabama,11440,4918,1071,78218,21172,5453,7295,5614,(X),43.0,9.4,(X),27.1,7.0,9.3,7.2
3,0500000US01043,Cullman County,Alabama,7002,2579,230,57469,10535,5733,6575,3157,(X),36.8,3.3,(X),18.3,10.0,11.4,5.5
4,0500000US01049,DeKalb County,Alabama,5564,2595,24,48227,10648,4671,3259,1984,(X),46.6,0.4,(X),22.1,9.7,6.8,4.1
5,0500000US01051,Elmore County,Alabama,6948,2462,318,56224,12005,5113,8896,5749,(X),35.4,4.6,(X),21.4,9.1,15.8,10.2

In [31]:
ACS_education_df.columns

Index(['GEO_ID', 'County', 'State', 'Pop_est_18-24',
       'Pop_est_18-24_some_college', 'Pop_est_18-24_Bachelor_degree',
       'Pop_est_25+', 'Pop_est_25+_some_college', 'Pop_est_25+_Assoc_degree',
       'Pop_est_25+_Bachelor_degree', 'Pop_est_25+_Graduate_degree',
       'Pct_est_18-24', 'Pct_est_18-24_some_college',
       'Pct_est_18-24_Bachelor_degree', 'Pct_est_25+',
       'Pct_est_25+_some_college', 'Pct_est_25+_Assoc_degree',
       'Pct_est_25+_Bachelor_degree', 'Pct_est_25+_Graduate_degree'],
      dtype='object')